html {
    height: 100%;
    background:url('../img/pizza.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}

body {
  background-color: transparent;
}

h1 {
  letter-spacing: 10px;
  color: #aed100;
  font-size: 600%;
  text-shadow: grey 1px 1px 3px;
}

h3 {
  color: white;
  letter-spacing: 5px;
  font-size: 200%;

}

h5 {
  color: lightgrey;
  letter-spacing: 5px;
  font-size: 150%;
}

.container {
text-align: center;
margin-top: 30px;

}

.grid-container {
  display: inline-grid;
}
.grid-item {
  text-align: center;
}

#sizeMenu, #toppingMenu, #subtotal, #receipt {
  display: none;
}

#intro, #sizeMenu, #toppingMenu, #receipt, #subtotal {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  margin-top: 100px;
  color: white;

}
